
  <h1>Bookmark Manager</h1>
  <form action="/bookmarks" method="post">

    <label for="url">
      add bookmark
      <input type="text" name="url" />
    </label>

    <label for="title">
    add title for your bookmark
      <input type="text" name="title" />
    </label>
    
    <input type="submit" value="add" />
  </form>
